<div class="z-50 fixed top-5 left-1/2 transform -translate-x-1/2">
    <app-menu btnLabel="Back" btnSeverity="danger" [isUserAuthenticated]="true" [isUsingBackButton]="true"></app-menu>
</div>
<p-card class="flex flex-col w-screen max-w-md mt-18 m-4">
    <div class="mb-4">
        <p-fieldset legend="Physical Examination Data" styleClass="max-w-md" [toggleable]="true">
            <form [formGroup]="submissionForm" class="flex flex-col gap-2" >
                <p-floatlabel variant="on" > 
                    <input pInputText id="submissionName" formControlName="submissionName" autocomplete="off"
                        [fluid]="true" />
                    <label for="submissionName">Submission Name</label>
                </p-floatlabel>
                <div class="flex gap-2">
                    <p-floatlabel variant="on" class="flex w-1/4">
                        <p-inputnumber id="age" formControlName="age" inputId="age" mode="decimal" [min]="0" [max]="120" [maxFractionDigits]="0" [fluid]="true"/>
                        <label for="age">Age</label>
                    </p-floatlabel>
                    <p-floatlabel variant="on" class="flex w-3/4">
                        <p-select id="gender" formControlName="gender" [options]="genderOptions" optionLabel="name" optionValue="value" [showClear]="true" [fluid]="true"/>
                        <label for="gender">Gender</label>
                    </p-floatlabel>
                </div>
                <p-floatlabel variant="on">
                    <p-multiselect [maxSelectedLabels]="2" formControlName="texture" id="texture" optionLabel="name" display="chip" optionLabel="name" optionValue="value" [options]="textureOptions" [fluid]="true"/>
                    <label for="texture">Lesion Texture</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <p-multiselect [maxSelectedLabels]="2" formControlName="bodyParts" id="bodyParts" optionLabel="name" display="chip" optionLabel="name" optionValue="value" [options]="locationOptions" [fluid]="true"/>
                    <label for="bodyParts">Location of Lesion</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <p-multiselect [maxSelectedLabels]="2" formControlName="conditionSymptoms" id="conditionSymptons" optionLabel="name" display="chip" optionLabel="name" optionValue="value" [options]="symptomsOptions" [fluid]="true"/>
                    <label for="conditionSymptoms">Relevant Symptoms</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <p-select formControlName="conditionDuration" id="conditionDuration" [options]="durationOptions" optionLabel="name" optionValue="value" [showClear]="true" [fluid]="true"/>
                    <label for="conditionDuration">Condition Duration</label>
                </p-floatlabel>
            </form>
                <div class="flex justify-center items-center mt-4">
                <p-button label="What do these fields represent?" [link]="true" (onClick)="showInfoDialog()" />
            </div>
        </p-fieldset>
    </div>
    <p-fileupload name="file" chooseIcon="pi pi-cloud-upload" [chooseButtonProps]="{'severity': 'secondary'}"
        [showUploadButton]="false" [showCancelButton]="false" [multiple]="false" accept="image/*" maxFileSize="1000000"
        mode="advanced" (onSelect)="onFileSelect($event)">
        <ng-template #empty>
            <div>Drag and drop an image of the skin area to be diagnosed here.</div>
        </ng-template>
        <ng-template #content>
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
        </ng-template>
    </p-fileupload>
    <div class="mt-4 mb-4">
        <p-button label="Submit for Diagnosis" icon="pi pi-save" severity="primary" class="mt-4" [fluid]="true"
            (onClick)="addSubmission()" />
    </div>
</p-card>